* {
  box-sizing: border-box;
}

.bg {
  background-color: #e8eff5;
}
ul {
  padding: 0px;
}
.timeline {
  position: relative;
  margin: 0 auto;
  padding: 5% 10% 5% 10%;
  min-height: 100vh;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: #d8e5ee;
  top: 0;
  bottom: 0;
  left: 50%;
  margin: 30px 0px;
  margin-left: -2px;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }
}
